/* src/components/Login.css */

.step-1-container {
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
  }
  
  .step-1-form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
  }
  
  .step-1-form h2 {
    margin-bottom: 20px;
  }
  
  .form-group input, select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #7C9D00;
    border-radius: 4px;
  }
  
  .step-1-button, .step-1-button-principal {
    width: 100%;
    padding: 10px;
    margin-top: 24px;
    background-color: #ffffff;
    color: #7C9D00;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 1px solid #7C9D00;
  }

  .step-1-button-principal {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 20%;
    text-align: center;
    margin: auto;
    margin-top: 50px;
}
  
  .login-button:hover {
    background-color: #0056b3;
  }
  .form-grid-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /* Dos columnas de igual tamaño */
    gap: 20px; /* Espacio entre columnas y filas */
  }
  .form-grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */
    gap: 20px; /* Espacio entre columnas y filas */
  }
  .form-grid-button {
    display: grid;
    grid-template-columns: 1fr; /* Dos columnas de igual tamaño */
    gap: 20px; /* Espacio entre columnas y filas */
  }
  .step-1-button-principal{
    display: grid;
    grid-template-columns: 1fr; /* Dos columnas de igual tamaño */
    gap: 20px; /* Espacio entre columnas y filas */
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .form-group label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  .padding-left-list-5{
    padding-left: 5px;
  }
  .border-green{
    border: 1px solid #7C9D00;
    border-radius: 5px;
  }
  .h2-section{
    padding-left: 10px;
  }