/* src/components/Login.css */

.step-1-container {
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 100vh;*/
    background-color: #f0f2f5;
  }
  
  .step-1-form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
  }
  
  .step-1-form h2 {
    margin-bottom: 20px;
  }
  
  .form-group input, select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #7C9D00;
    border-radius: 4px;
  }
  
  .step-1-button, .step-1-button-principal {
    width: 100%;
    padding: 10px;
    margin-top: 24px;
    background-color: #ffffff;
    color: #7C9D00;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 1px solid #7C9D00;
  }
  .label-data {
    width: 100%;
    max-width: 115px;
    background-color: #ffffff;
    color: #7C9D00;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 1px solid #7C9D00;
  }
  .step-1-button-principal {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 20%;
    text-align: center;
    margin: auto;
    margin-top: 50px;
}
  
  .login-button:hover {
    background-color: #0056b3;
  }
  .form-grid-7 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; /* 5 columnas de igual tamaño */
    gap: 20px; /* Espacio entre columnas y filas */
  }
  .form-grid-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /* 4 columnas de igual tamaño */
    gap: 20px; /* Espacio entre columnas y filas */
  }
  .form-grid-5 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; /* 5 columnas de igual tamaño */
    gap: 20px; /* Espacio entre columnas y filas */
  }
  .form-grid-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Tres columnas de igual tamaño */
    gap: 20px; /* Espacio entre columnas y filas */
  }
  .form-grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */
    gap: 20px; /* Espacio entre columnas y filas */
  }
  .form-grid-1 {
    display: grid;
    grid-template-columns: 1fr; /* 1 columnas de igual tamaño */
    gap: 20px; /* Espacio entre columnas y filas */
  }
  .form-grid-button {
    display: grid;
    grid-template-columns: 1fr; /* Dos columnas de igual tamaño */
    gap: 20px; /* Espacio entre columnas y filas */
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .form-group label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  .padding-left-list-5{
    padding-left: 5px;
  }
  .border-green{
    border: 1px solid #7C9D00;
    border-radius: 5px;
    padding: 10px;
  }
  .h2-section{
    padding-left: 10px;
  }
  .max-width-66px{
    max-width: 66px;
  }
  .max-width-500px{
    max-width: 500px;
  }
  .textarea{
    height: 100px;
  }
  .form-group > .cell-table div{
    padding: 5px;
  }
  .button-large{
    width: 100%;
    padding: 10px;
    margin-top: 24px;
    background-color: #ffffff;
    color: #7C9D00;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 1px solid #7C9D00;
  }
  .radiobutton-determinacion{
    width: 15% !important;
  }
  .margin-top-20px{
    margin-top: 20px;
  }
  .button-finish {
    width: 50%;
    padding: 10px;
    margin-top: 24px;
    color: #ffffff !important;
    background-color: #7C9D00;
    color: #7C9D00;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 1px solid #7C9D00;
  }
  .button-back {
    width: 50%;
    padding: 10px;
    margin-top: 24px;
    background-color: #ffffff;
    color: #e10032;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 1px solid #e10032;
  }
  .text-align{
    text-align: right;
  }
  .text-align-center{
    text-align: center;
  }
  .button-general {
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    color: #7C9D00;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 1px solid #7C9D00;
  }

  .max-widt-200{
    width: 200px;
    text-align: center;
  }
  .max-width-300px{
    max-width: 300px;
  }
  .margin-top-5px{
    margin-top: 5px;
  }