/* src/components/Login.css */

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
  }
  
  .login-form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  .login-form h2 {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .login-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .login-button:hover {
    background-color: #0056b3;
  }
  .border-green{
    border: 1px solid #7C9D00;
    border-radius: 5px;
    padding: 10px;
  }
  .text-align-left{
    text-align: left;
  }
  .button-init {
    width: 100%;
    padding: 10px;
    margin-top: 24px;
    color: #ffffff !important;
    background-color: #7C9D00;
    color: #7C9D00;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 1px solid #7C9D00;
  }
  .form-group input, select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #7C9D00;
    border-radius: 4px;
  }
  .padding-50px{
    padding: 50px;
  }
  .form-grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */
    gap: 20px; /* Espacio entre columnas y filas */
  }
  .form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  .text-align-right{
    text-align: right;
  }