/*CSS DE NODOS*/
  
/* src/components/TaxonomicList.css */
.taxonomic-lista {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .nivel {
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .nivel-header {
    background-color: #ffffff;
    border: 1px solid #7c9d00;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    transition: background-color 0.3s;
  }
  
  .nivel-header:hover {
    background-color: #e0e0e0;
  }
  
  .subniveles {
    padding-left: 20px; /* Añade una sangría para subniveles */
  }
  
  .items li {
    padding: 5px 10px;
    background-color: #fafafa;
    border-top: 1px solid #eee;
    transition: background-color 0.3s;
  }
  
  .items li:hover {
    background-color: #f0f0f0;
  }
  
  /*.taxonomic-lista .nivel-header::after {
    content: '+';
    font-size: 14px;
    transition: transform 0.3s;
  }*/
  
  .nivel-header.expanded::after {
    content: '-';
    transform: rotate(90deg);
  }
  
  @media (max-width: 600px) {
    .nivel-header {
      font-size: 14px;
      padding: 8px;
    }
    .items li {
      font-size: 12px;
      padding: 5px 8px;
    }
  }
  .button-taxonomic-list{
    width: 100%;
    background-color: #ffffff;
    color: #7C9D00;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 1px solid #7C9D00;
    padding-right: 5px;
  }
  .button-more{
    width: 100%;
    background-color: #ffffff;
    color: #7C9D00;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 1px solid #7C9D00;
    padding-right: 5px;
  }
  .button-delete{
    width: 100%;
    background-color: #ffffff;
    color: #9d0000;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 1px solid #9d0000;
    padding-right: 5px;
  }
